<div class="container-fluid" id="contactme">
    <h1>Contact Me</h1>
    <div class="container content">
        <div class="links-section">
            <h2>Get in Touch </h2>
            <ul>
                <li><a href="https://www.linkedin.com/in/alaa-afifi-899688144/" target="_blank"> Linkedin </a> </li>
                <li><a href="https://github.com/afifialaa" targert="_blank">Github</a></li>
                <li><a href="https://www.hackerrank.com/alaaahmedafifi" target="_blank">Hackerrank</a></li>
                <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                <li><a href="#" target="_blank">Whatsapp: 01011665668</a></li>
                <li><a href="#" target="_blank">Gmail: alaaahmedafifi@gmail.com</a></li>
            </ul>
        </div>
        <div class="msg-section">
            <h2>Say Something</h2>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <textarea class="form-control"></textarea>
                </div>
                <button class="btn btn-success">Send</button>
            </form>
        </div>
    </div>
</div>