<div class="container-fluid" id="contactme">
    <h1>Contact Me</h1>
    <div class="container content">
        <div class="links-section">
            <h2>Get in Touch </h2>
            <ul>
                <li><a href="https://www.linkedin.com/in/alaa-afifi-899688144/" target="_blank"> Linkedin </a> </li>
                <li><a href="https://github.com/afifialaa" targert="_blank">Github</a></li>
                <li><a href="https://www.hackerrank.com/alaaahmedafifi" target="_blank">Hackerrank</a></li>
                <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                <li><a href="#" target="_blank">Whatsapp: 01011665668</a></li>
                <li><a href="#" target="_blank">Gmail: alaaahmedafifi@gmail.com</a></li>
            </ul>
        </div>
        <div class="msg-section">
            <h2>Say Something</h2>
            <form [formGroup]="contactForm" (ngSubmit)="onContactSubmit()">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="name" placeholder="Name">
                </div>

                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">
                    <div *ngIf="name?.errors?.['minlength']">
                        Too short to be a name.
                    </div>
                    <div *ngIf="name?.errors?.['required']">
                        Please fill out your name.
                    </div>
                </div>


                <div class="form-group">
                    <input type="email" class="form-control" formControlName="email" placeholder="Email">
                </div>

                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                    <div *ngIf="email?.errors?.['minlength']">
                        Too short to be a email.
                    </div>
                    <div *ngIf="email?.errors?.['required']">
                        Please fill out your email.
                    </div>
                    <div *ngIf="email?.errors?.['pattern']">
                        Not a valid email.
                    </div>
                </div>

                <div class="form-group">
                    <textarea class="form-control" formControlName="message"></textarea>
                </div>

                <div *ngIf="message?.invalid && (message?.dirty || message?.touched)" class="alert alert-danger">
                    <div *ngIf="message?.errors?.['required']">
                        Message is required.
                    </div>
                </div>


                <input type="submit" class="btn btn-success" [disabled]="!contactForm.valid">
            </form>
        </div>
    </div>
</div>