#contactme{
    padding-top: 3em;
    padding-bottom: 3em;
}


#contactme > h1 {
    font-weight: bold;
    text-align: center;
}


#contactme > h1::before {
    content: '<'
}

#contactme > h1::after {
    content: '/>';
}


.content{
    margin-top: 3em;
    /* display: grid;
    grid-template-columns: auto auto; */
    display: flex;
    flex-direction: row;
}

.content > div {
    width: 100%;
}

.content > div > h2 {
    text-align: center;
    font-weight: bold;
}

.links-section > ul {
    list-style-type: none;
}

.links-section > ul  {
    text-align: left;
    padding-top: 2em;
}

.links-section li {
    font-size: 16px;
    padding: 5px 0px;
}

.msg-section > form {
    padding-top: 2em;
}