<div class="container-fluid" id="experience">
    <h1>Experience</h1>
    <div class="container content">
        <div *ngFor="let exp of experiences, let i=index" class="exp-item">
            <div class="date">
                {{ exp["date"]}}
            </div>
            <div class="title">
                <h2>{{ exp["title"]}}</h2>
            </div>
            <div class="description">
                <h5>{{ exp["description"]}}</h5>
            </div>
            <a (click)="showDetails(i)" [innerHTML]="detailsHTMLContent[i]"></a>
            <div class="details" [ngClass]="{'show': showDetailsArr[i], 'hide':!showDetailsArr[i]}" [innerHTML]="exp['details']">
            </div>
        </div>
    </div>
</div>