#experience{
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: var(--primary-color);
    color: white;
}

#experience > h1 {
    font-weight: bold;
    text-align: center;
}


#experience > h1::before {
    content: '<'
}

#experience > h1::after {
    content: '/>';
}

@keyframes showAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hide{
    visibility: hidden;
    animation: showAnimation 1s linear 1 normal forwards;
}

.show{
    visibility: visible;
    animation: showAnimation 1s linear 1 normal forwards;
}


@keyframes example {
    from {
        border-left: 10px solid var(--accent-color);
    }
    to {
        border-left: 30px solid var(--accent-color);
    }
}

.exp-item{
    padding: 1em 0em 1em 3em;
    margin: 3em 0;
    border-left: 10px solid var(--accent-color);
}


.exp-item:hover{
    /* border-left: 20px solid var(--accent-color); */
    animation: example 250ms linear 1 normal forwards;
    cursor: pointer;
}