<div class="container-fluid" id="experience">
    <h1>Experience</h1>
    <div class="container content">
        <div class="exp-item">
            <div class="date">
                Nov 2017 - Dec 2017
            </div>
            <div class="title">
                <h2> Tech Elevate, Dell Technologies </h2>
            </div>
            <div class="description">
                <h5> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h5>
            </div>
        </div>
        <div class="exp-item">
            <div class="date">
                Nov 2017 - Dec 2017
            </div>
            <div class="title">
                <h2> Tech Elevate, Dell Technologies </h2>
            </div>
            <div class="description">
                <h5> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h5>
            </div>
        </div>
    </div>
</div>