h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

#skills {
    width: 100%;
    text-align: center;
    background-color: var(--accent-color);
    padding-bottom: 4em;
}

.content {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.content > div{
    cursor: pointer;
    padding: 20px;
}


h1::before{
    content: '<' 
}

h1::after {
    content: '/>'
}
