
<div class="container-fluid" id="skills">
    <h1>Skills</h1>
    <div class="content">
        <div>
            <img src="../../assets/icons/64/css-3-64.png" >
        </div>
        <div>
            <img src="../../assets/icons/64/docker-64.png">
        </div>
        <div>
            <img src="../../assets/icons/64/github-64.png">
        </div>
        <div>
            <img src="../../assets/icons/64/html-5-64.png">
        </div>
        <div>
            <img src="../../assets/icons/64/java-64.png">
        </div>
        <div>
            <img src="../../assets/icons/64/js-64.png">
        </div>
        <div>
            <img src="../../assets/icons/64/ruby-64.png">
        </div>
        <div>
            <img src="../../assets/icons/64/mysql-64.png">
        </div>
        <div>
            <img src="../../assets/icons/64/nodejs-64.png">
        </div>
        <div>
            <img src="../../assets/icons/64/python-64.png">
        </div>
        <div>
            <img src="../../assets/icons/64/typescript-64.png">
        </div>
        <div>
            <img src="../../assets/icons/64/php-64.png">
        </div>

    </div>
</div>
