/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #2F2F2F;
    --accent-color: #BFBF57;
}
html, body {
    height: 100%;
    margin: 0;
}

* {
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}
